$color-primary: #00ff75;
$color-secondary: #ffffff;
$background: #101010;

@font-face {
  font-family: PulseBold;
  src: url("/fonts/Pulse bold.otf");
  font-display: swap;
}

@font-face {
  font-family: PulseReg;
  src: url("/fonts/Pulse regular.otf");
  font-display: swap;
}
@font-face {
  font-family: ArdentBold;
  src: url("/fonts/Ardent-Sans extra-bold.otf");
  font-display: swap;
}

@font-face {
  font-family: ArdentReg;
  src: url("/fonts/Ardent-Sans light.otf");
  font-display: swap;
}

html,
body {
  background-color: $background;

  font-family: "PulseBold", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

.main {
  width: 100vw;
  height: 100%;
  min-height: 100vh;

  overflow-x: none;
  overflow-y: auto;

  position: absolute;
  top: 0;
  left: 0;

  .start {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
      url("/images/home.webp");
    background-repeat: no-repeat;
    background-size: cover;

    color: #ffffff;

    overflow: auto;

    #start-title {
      position: fixed;
      left: 50%;
      top: 40vh;
      transform: translate(-50%, -50%);

      font-size: 6rem;
      width: 100%;

      overflow: visible;

      text-align: center;
      line-height: 75%;
      font-family: "ArdentBold", sans-serif;
      font-weight: bold;

      #start-header {
        font-size: 0.6em;
        font-family: "ArdentReg", sans-serif !important;

        color: $color-primary;
      }

      #start-subtitle {
        text-align: center;
        transform: translate(-50%, -50%);

        position: relative;
        top: 0.1em;

        font-family: "PulseReg";

        font-size: 0.3em;

        color: $color-secondary;
      }
    }

    #start-down {
      position: absolute;
      bottom: 10vh;

      width: 100vw;

      text-align: center;

      font-size: 1em;
      color: #aaaaaa;
    }

    #image-container {
      filter: invert(100%);
      background-color: transparent;

      height: 2.25vh;
      aspect-ratio: 1;

      position: absolute;
      bottom: 5.5vh;
      left: 50%;

      transform: translateX(-50%);
    }

    z-index: -1;
  }

  .scrollarea {
    width: 100vw;
    height: 100%;

    background-color: #101010;

    min-height: 100vh;

    position: relative;
    top: 100vh;
    left: 0;

    z-index: 2;
  }
}

.main-over {
  width: 100vw;
  height: 100%;
  min-height: 100vh;

  overflow-x: none;
  overflow-y: auto;

  position: absolute;
  top: 0;
  left: 0;

  .start {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
      url("/images/home.webp");
    background-repeat: no-repeat;
    background-size: cover;

    color: #ffffff;

    overflow: auto;

    #start-title {
      position: fixed;
      left: 50%;
      top: 40vh;
      transform: translate(-50%, -50%);

      font-size: 6rem;
      width: 100%;

      overflow: visible;

      text-align: center;
      line-height: 75%;
      font-family: "ArdentBold", sans-serif;
      font-weight: bold;

      #start-header {
        font-size: 0.6em;
        font-family: "ArdentReg", sans-serif !important;

        color: $color-primary;
      }

      #start-subtitle {
        text-align: center;
        transform: translate(-50%, -50%);

        position: relative;
        top: 0.1em;

        font-family: "PulseReg";

        font-size: 0.3em;

        color: $background;
        background-color: $color-primary;

        border-radius: 0.1em 0.5em;
        padding: 0.75em 1em;

        cursor: pointer;
      }
    }

    z-index: 1;
  }
}
.main-auth {
  width: 100vw;
  height: 100%;
  min-height: 100vh;

  overflow-x: none;
  overflow-y: auto;

  position: absolute;
  top: 0;
  left: 0;

  .start {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    box-sizing: border-box;

    padding-top: 12.5vh;

    background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
      url("/images/home.webp");
    background-repeat: no-repeat;
    background-size: cover;

    color: #ffffff;

    overflow: auto;

    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    .form {
      height: 75%;
      width: 40%;

      background-color: rgba(0, 0, 0, 0.65);
      border-radius: 1rem 2rem;
      border: 2px solid #aaaaaa55;

      box-sizing: border-box;
      padding: 2rem;

      .title {
        font-family: "PulseBold", sans-serif;
        text-align: center;
      }

      .auth-button-primary {
        background-color: $color-primary;
        border: 0;
        border-radius: 0.1em 0.5em;

        color: $background;

        width: 75%;
        height: 7.5vh;

        cursor: pointer;

        font-size: 1.25rem;
      }

      .auth-button-secondary {
        text-align: center;

        border-radius: 0;
        border: 0;
        width: 100%;
        height: 5vh;

        background: transparent;
        color: $color-primary;

        cursor: pointer;
      }

      .auth-input {
        width: 90%;
        height: 7vh;

        border: 0;
        border-radius: 0.1em;

        background: $background;
        color: $color-secondary;

        box-sizing: border-box;
        padding: 0 1em;

        outline: none;

        transition: all 50ms ease;

        &:active,
        &:focus {
          border-bottom: 2px solid $color-primary;
        }
      }

      .auth-container {
        width: 100%;
        height: 30vh;

        position: relative;
        top: 35%;

        transform: translateY(-50%);

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
      }
    }
  }
}

nav {
  width: 100vw;
  height: 12.5vh;

  .scrolled {
    background-color: #00ff75 !important;
  }

  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));

  z-index: 100;

  border-bottom: 1px solid #ffffff66;

  position: fixed;
  left: 0;
  top: 0;

  color: #ffffff;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 0;

  font-family: "ArdentBold";

  .left {
    padding-left: 3vw;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;

    font-family: "Open Sans", sans-serif;
    font-weight: bolder;

    font-size: 1.2em;

    box-sizing: border-box;
    padding: 1rem;

    #logo-link {
      height: calc(12.5vh - 2rem);
      width: calc(12.5vh - 2rem);

      box-sizing: border-box;

      overflow: visible;

      cursor: pointer;

      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    overflow: hidden;
  }

  .right {
    padding-left: 3vw;
    padding-right: 3vw;

    box-sizing: border-box;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 3;

    height: 100%;

    font-family: "Open Sans", sans-serif;
    font-weight: 400;

    a:last-of-type {
      color: $background;

      background-color: $color-primary;
      padding: 0.75em 1.25em;

      border-radius: 0.1em 0.5em;

      transition: all 250ms ease;

      &:hover {
        background-color: #00c95e;
        color: $background;
      }
    }
  }

  a {
    &:hover {
      color: $color-primary;
    }

    transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .right #burger {
    display: none;
  }

  .burgerMenu {
    position: fixed;
    top: 12.5vh;
    left: 0;

    background: #000000ee;

    width: 100vw;
    height: calc(100vh - 12.5vh);

    transition: all 250ms ease;

    transform: translateX(100%);

    .wrapper {
      width: 100%;
      height: 100%;

      box-sizing: border-box;
      padding: 10vh 15vw;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      a:last-of-type {
        width: 100%;

        background: $color-primary;
        color: $background;
        text-align: center;

        padding: 1em 0;

        border-radius: 0.1em 0.5em;

        transition: all 100ms ease;

        &:hover,
        &:active {
          color: $background;
          background: #00c95e;
        }
      }
    }
  }

  .burgerActive {
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  nav {
    .right a {
      display: none;
    }
    .right #burger {
      float: right;
      margin-right: 5vw;

      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;

      height: 40%;
      aspect-ratio: 1 / 1;

      & .block {
        background-color: #ffffff;

        width: 100%;
        height: 3px;
      }
    }
    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .main {
    .start {
      #start-title {
        font-size: 4rem;
      }
    }
  }

  .main-auth {
    .form {
      width: calc(100% - 10vw) !important;
      height: calc(100% - 5vh) !important;
    }
  }
}

@media screen and (max-width: 343px) {
  .main .start #start-title {
    line-height: 100%;
  }
}

@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #212121;
    &:hover {
      background-color: #303030;
    }
  }
}

.area-51 {
  width: 100vw;
  height: calc(100vh - 12.1vh);

  background: transparent;
  position: absolute;
  left: 0;
  top: 12.1vh;
}
